# ignore all cluster error and output files
*.rar
*.e
*.o
temp/

*.pyc
.idea/
venv/
MatlabScripts/mccExcludedFiles.log
MatlabScripts/pceExe
MatlabScripts/requiredMCRProducts.txt
MatlabScripts/run_pceExe.sh
